<!DOCTYPE html>
<html lang="en-uk">
    <head>
    	<meta charset="UTF-8">

        <!-- Page Details -->
    	<title>Pokepedia</title>
        <meta name="description" content="Project to learn Node, Express and Handlebars" >

        <!-- Mobile -->
    	<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
    	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

        <!-- Open Graph Image -->
    	<meta property="og:image" content=" ">

        <!-- Styles -->
        <link rel="stylesheet" href="content/css/styles.css">

        <!-- HTML5 tags for IE -->
    	<!--[if IE]>
    		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->
    </head>
    <body>
        <header class="header">
            <div class="right">
                <a href="#">Search</a>
            </div>
            <div class="current-area">
                <img src=" " />
                <h1>All generations</h1>
            </div>
        </header>

        {{{body}}}

        <footer class="footer">
            <nav>
                <a href="#">Index</a>
                <a href="#">Search</a>
                <a href="#">Favorites</a>
                <a href="#">Configuration</a>
            </nav>
        </footer>

        <!-- <script src="js/script.js"></script> -->
    </body>
</html>
