.normal {
	color: burlywood;
}
.fire {
	color: orange;
}
.water {
	color: blue;
}
.electric {
	color: #D4B644;
}
.rock {
	color: brown;
}
.dark {
	color: darkslategrey;
}
.grass {
	color: green;
}
.ice {
	color: cornflowerblue;
}
.fighting {
	color: tomato;
}
.poison {
	color: purple;
}
.ghost {
	color: darkorchid;
}
.steel {
	color: darkcyan;
}
.ground {
	color: darkgoldenrod;
}
.flying {
	color: pink;
}
.psychic {
	color: deeppink;
}
.bug {
	color: green;
}
.dragon {
	color: aqua;
}
.fairy {
	color: darksalmon;
}

.t-normal {
	background: linear-gradient(#DBCC9F, #AC9D64);
	border: 1px solid #9B8B4B;
}
.t-fire {
	background: linear-gradient(#FF842A, #AA181A);
	border: 1px solid #8C1719;
}
.t-water {
	background: linear-gradient(#59B0FF, #185EAA);
	border: 1px solid #1E4F82;
}
.t-electric {
	background: linear-gradient(#F5F31F, #DFCE0E);
	border: 1px solid #CEC111;
}
.t-rock {
	background: linear-gradient(#BB7D57, #7C5238);
	border: 1px solid #4F3322;
}
.t-dark {
	background: linear-gradient(#6E6E6E, #252525);
	border: 1px solid #000000;
}
.t-grass {
	background: linear-gradient(#6DAE39, #3C6714);
	border: 1px solid #316203;
}
.t-ice {
	background: linear-gradient(#ACD7FF, #5F9DE0);
	border: 1px solid #477BB1;
}
.t-fighting {
	background: linear-gradient(#B9121C 0%, #FF3440 4%, #B9121C 100%);
	border: 1px solid #8F0F17;
}
.t-poison {
	background: linear-gradient(#8E39AE, #491467);
	border: 1px solid #390362;
}
.t-ghost {
	background: linear-gradient(#9B6BD7, #503474);
	border: 1px solid #432766;
}
.t-steel {
	background: linear-gradient(#C2C2C2, #6C6C6C);
	border: 1px solid #474747;
}
.t-ground {
	background: linear-gradient(#E5B14F, #BA8C44);
	border: 1px solid #CC7F37;
}
.t-fly {
	background: linear-gradient(#E54FE0, #AA44BA);
	border: 1px solid #B948B2;
}
.t-psychic {
	background: linear-gradient(#FF00F6, #C000DF);
	border: 1px solid #B500AC;
}
.t-bug {
	background: linear-gradient(#00E069, #1F3C06);
	border: 1px solid #1D3A04;
}
.t-dragon {
	background: linear-gradient(#264ABC, #162A4C);
	border: 1px solid #0A1428;
}
.t-fairy {
	background: linear-gradient(#FACEDE, #FFACCA);
	border: 1px solid #F591B5;
}
