@charset "UTF-8";
body {
  margin: 0; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px; }

input,
button,
textarea,
select {
  padding-top: 0.5em;
  padding-right: 0.8em;
  padding-bottom: 0.5em;
  padding-left: 0.8em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  outline: none;
  transition: border .2s ease-in-out; }
  input:focus,
  button:focus,
  textarea:focus,
  select:focus {
    border: 1px solid rgba(0, 0, 0, 0.6); }

textarea {
  vertical-align: top; }

select {
  height: 2.62em; }

button,
input[type="button"],
input[type="submit"] {
  font-family: inherit;
  cursor: pointer; }
  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover {
    border: 1px solid rgba(0, 0, 0, 0.6); }

.input-block {
  display: block;
  width: 100%; }

body {
  background: #EBEBEB; }

.btn,
button,
input[type="button"],
input[type="submit"] {
  display: inline-block;
  margin-bottom: 3px;
  padding: 0.5em 0.8em;
  box-sizing: border-box;
  background: #999;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  transition: .2s background ease-in-out, .2s border ease-in-out; }
  .btn:hover,
  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover {
    background: #8c8c8c;
    border: 1px solid transparent;
    color: #fff; }
  .btn:focus,
  button:focus,
  input[type="button"]:focus,
  input[type="submit"]:focus {
    border: 1px solid transparent; }
  .btn.btn-outline,
  button.btn-outline,
  input[type="button"].btn-outline,
  input[type="submit"].btn-outline {
    background: none;
    border-color: #999;
    color: #999; }
    .btn.btn-outline:hover,
    button.btn-outline:hover,
    input[type="button"].btn-outline:hover,
    input[type="submit"].btn-outline:hover {
      background: rgba(0, 0, 0, 0.05); }

.btn-rounded {
  border-radius: 50px; }

.btn-primary {
  background: #4A90E2; }
  .btn-primary:hover {
    background: #3483de; }
  .btn-primary.btn-outline {
    border-color: #4A90E2;
    color: #4A90E2; }

.btn-success {
  background: #7ED321; }
  .btn-success:hover {
    background: #71bd1e; }
  .btn-success.btn-outline {
    border-color: #7ED321;
    color: #7ED321; }

.btn-info {
  background: #89BBF5; }
  .btn-info:hover {
    background: #71adf3; }
  .btn-info.btn-outline {
    border-color: #89BBF5;
    color: #89BBF5; }

.btn-warning {
  background: #F5A623; }
  .btn-warning:hover {
    background: #f39c0b; }
  .btn-warning.btn-outline {
    border-color: #F5A623;
    color: #F5A623; }

.btn-danger {
  background: tomato; }
  .btn-danger:hover {
    background: #ff4d2e; }
  .btn-danger.btn-outline {
    border-color: tomato;
    color: tomato; }

body {
  line-height: 1.62em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

a {
  color: #0077aa; }
  a:hover {
    color: #0094d3; }

hr {
  border: 0;
  height: 1px;
  background: #E5E5E5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.62em;
  font-weight: normal; }

p {
  max-width: 760px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 20px; }

code {
  padding: 5px;
  background: #efefef;
  border: 1px solid #dedede;
  border-radius: 5px;
  color: #666;
  font-weight: normal; }

.code {
  padding: 14px;
  overflow: auto;
  background: #EFEFEF;
  border: 1px solid #dedede;
  border-radius: 5px;
  color: #666;
  font-size: 14px; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.right {
  float: right; }

.left {
  float: left; }

.clearfloat {
  float: none; }

.hide,
.hidden {
  display: none; }

.block {
  display: block;
  width: 100%; }

.margin {
  margin: 16px; }

.margin-top {
  margin-top: 16px; }

.margin-right {
  margin-right: 16px; }

.margin-bottom {
  margin-bottom: 16px; }

.margin-left {
  margin-left: 16px; }

.padding {
  padding: 16px; }

.padding-top {
  margin-top: 16px; }

.padding-right {
  margin-right: 16px; }

.padding-bottom {
  margin-bottom: 16px; }

.padding-left {
  padding-left: 16px; }

.image-responsive {
  max-width: 100%; }

.image-center {
  display: block;
  margin: 0 auto; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.no-wrap {
  white-space: nowrap; }

@media screen and (max-width: 640px) {
  .clearfloat-mobile {
    float: none; }

  .hidden-mobile,
  .hide-mobile {
    display: none; }

  .block-mobile {
    display: block; }

  .text-right-mobile {
    text-align: right; }

  .text-left-mobile {
    text-align: left; }

  .text-center-mobile {
    text-align: center; } }
.header {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45); }
  .header a {
    color: #fff; }
  .header svg {
    margin: 10px;
    vertical-align: middle;
    -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.45));
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.45)); }

.current-area img {
  width: 70px; }
.current-area img,
.current-area h1 {
  display: inline-block;
  margin: 0;
  vertical-align: middle; }

.header-index {
  background: linear-gradient(#61A4DB, #2c7fc3); }

.header-search {
  background: linear-gradient(#DB6161, #c32c2c); }

.header-favorite {
  background: linear-gradient(#FBF44B, #f4eb05); }

.header-config {
  background: linear-gradient(#828282, #5c5c5c); }

.list-pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px; }
  .list-pokemon .item-pokemon {
    position: relative;
    box-sizing: border-box;
    min-width: 150px;
    margin: 8px;
    padding: 16px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    transition: box-shadow .2s ease-in-out; }
    .list-pokemon .item-pokemon:hover {
      box-shadow: 0px 1px 3px 0px #2D7DDC; }
    .list-pokemon .item-pokemon img {
      max-width: 100%; }
    .list-pokemon .item-pokemon p {
      margin: 0; }
    .list-pokemon .item-pokemon .link-pokemon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.pokemon-number {
  color: #CACACA; }

.pokemon-name {
  color: #1C5EAD; }

.pokemon-type span:before {
  content: ' · ';
  color: #BBBBBB; }
.pokemon-type span:first-child:before {
  content: ''; }

.pokemon-name,
.pokemon-type {
  text-transform: capitalize; }

@media (max-width: 640px) {
  .list-pokemon .item-pokemon {
    width: calc(50% - 16px); } }
.menu-primary {
  display: flex;
  width: 100%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.45); }
  .menu-primary a {
    flex-grow: 1;
    border: 1px solid black;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    transition: all .2s ease-in-out; }
  .menu-primary svg {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    margin: 8px;
    -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.45));
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.45)); }

.menu-index {
  background: linear-gradient(#61A4DB, #2c7fc3); }
  .menu-index:hover {
    background: linear-gradient(#4c98d6, #2872ae); }

.menu-search {
  background: linear-gradient(#DB6161, #c32c2c); }
  .menu-search:hover {
    background: linear-gradient(#d64c4c, #ae2828); }

.menu-favorite {
  background: linear-gradient(#FBF44B, #f4eb05); }
  .menu-favorite:hover {
    background: linear-gradient(#faf232, #dbd305); }

.menu-config {
  background: linear-gradient(#828282, #5c5c5c); }
  .menu-config:hover {
    background: linear-gradient(#757575, #4f4f4f); }

@media (max-width: 640px) {
  .menu-primary {
    position: fixed;
    bottom: 0;
    z-index: 1; }

  body {
    padding-bottom: 54px; } }
.normal {
  color: burlywood; }

.fire {
  color: orange; }

.water {
  color: blue; }

.electric {
  color: #D4B644; }

.rock {
  color: brown; }

.dark {
  color: darkslategrey; }

.grass {
  color: green; }

.ice {
  color: cornflowerblue; }

.fighting {
  color: tomato; }

.poison {
  color: purple; }

.ghost {
  color: darkorchid; }

.steel {
  color: darkcyan; }

.ground {
  color: darkgoldenrod; }

.flying {
  color: pink; }

.psychic {
  color: deeppink; }

.bug {
  color: green; }

.dragon {
  color: aqua; }

.fairy {
  color: darksalmon; }

.t-normal {
  background: linear-gradient(#DBCC9F, #AC9D64);
  border: 1px solid #9B8B4B; }

.t-fire {
  background: linear-gradient(#FF842A, #AA181A);
  border: 1px solid #8C1719; }

.t-water {
  background: linear-gradient(#59B0FF, #185EAA);
  border: 1px solid #1E4F82; }

.t-electric {
  background: linear-gradient(#F5F31F, #DFCE0E);
  border: 1px solid #CEC111; }

.t-rock {
  background: linear-gradient(#BB7D57, #7C5238);
  border: 1px solid #4F3322; }

.t-dark {
  background: linear-gradient(#6E6E6E, #252525);
  border: 1px solid #000000; }

.t-grass {
  background: linear-gradient(#6DAE39, #3C6714);
  border: 1px solid #316203; }

.t-ice {
  background: linear-gradient(#ACD7FF, #5F9DE0);
  border: 1px solid #477BB1; }

.t-fighting {
  background: linear-gradient(#B9121C 0%, #FF3440 4%, #B9121C 100%);
  border: 1px solid #8F0F17; }

.t-poison {
  background: linear-gradient(#8E39AE, #491467);
  border: 1px solid #390362; }

.t-ghost {
  background: linear-gradient(#9B6BD7, #503474);
  border: 1px solid #432766; }

.t-steel {
  background: linear-gradient(#C2C2C2, #6C6C6C);
  border: 1px solid #474747; }

.t-ground {
  background: linear-gradient(#E5B14F, #BA8C44);
  border: 1px solid #CC7F37; }

.t-fly {
  background: linear-gradient(#E54FE0, #AA44BA);
  border: 1px solid #B948B2; }

.t-psychic {
  background: linear-gradient(#FF00F6, #C000DF);
  border: 1px solid #B500AC; }

.t-bug {
  background: linear-gradient(#00E069, #1F3C06);
  border: 1px solid #1D3A04; }

.t-dragon {
  background: linear-gradient(#264ABC, #162A4C);
  border: 1px solid #0A1428; }

.t-fairy {
  background: linear-gradient(#FACEDE, #FFACCA);
  border: 1px solid #F591B5; }

.search {
  position: absolute;
  right: 0;
  padding: 14px;
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-in-out; }
  .search.active {
    visibility: visible;
    opacity: 1; }

/*# sourceMappingURL=styles.css.map */
